<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== BOOTSTRAP ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/search.css" />

    <title>달곰 디저트 검색하기</title>
    <script></script>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">달곰디저트</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">홈</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="/search" class="nav__link">
                <i class="bx bx-message-square-detail nav__icon"></i>
                <span class="nav__name">검색</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="/reservation" class="nav__link">
                <i class="bx bx-book-alt nav__icon"></i>
                <span class="nav__name">예약</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="/mypage" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">마이페이지</span>
              </a>
            </li>
          </ul>
        </div>

        <img src="/img/perfil.png" alt="" class="nav__img" />
      </nav>
    </header>

    <main>
      <!--=============== CONTACTME ===============-->
      <section class="container section section__height" id="contactme">
        <h2 class="section__title">검색화면</h2>
        <label for="search_option">검색하기</label>

        <div class="search_module module">
          <select id="search_option" name="search_option">
            <option value="search">상호명</option>
            <option value="location">지역</option>
          </select>
          <input type="text" id="search_input" oninput="fetchList()" />
        </div>

        <div>
          <div id="category_list">
            <div class="row">
              <div class="recommend_module module">
                어떤 것을 찾으세요?
                <div class="row" id="recommend_list">
                  <!-- 마카롱,딸기 -->
                </div>
              </div>
              <div class="hashtag_module module">
                추천 해시태그
                <div class="col" id="hashtag_list"></div>
              </div>
              <div class="soaring_module module">
                <!-- <ul>
                                    <li style="cursor: pointer;"></li>
                                </ul> -->
              </div>
            </div>
          </div>

          <div id="searched_list">
            <th:block th:if="${list}"> th:block list exist </th:block>
          </div>
        </div>
        <button id="reservationDateTableUp_btn">예약 버튼</button>
        <div id="reservationDateTable">
          새로운 div
          <button id="cancelReserving">닫기</button>
        </div>
      </section>
    </main>

    <!--=============== MAIN JS ===============-->
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/search.js"></script>
    <script>
      setup();
    </script>
  </body>
</html>
