<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/search.css" />

    <title>달곰 디저트 검색하기</title>

    <!--=============== BOOTSTRAP CSS ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">달곰디저트</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">홈</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="/search" class="nav__link">
                <i class="bx bx-message-square-detail nav__icon"></i>
                <span class="nav__name">검색</span>
              </a>
            </li>
            <li class="nav__item">
              <a href="/reservation" class="nav__link">
                <i class="bx bx-book-alt nav__icon"></i>
                <span class="nav__name">예약</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="/mypage" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">마이페이지</span>
              </a>
            </li>
          </ul>
        </div>

        <img src="/img/perfil.png" alt="" class="nav__img" />
      </nav>
    </header>

    <main>
      <!--=============== CONTACTME ===============-->
      <section class="container section section__height" id="contactme">
        <h2 class="section__title">검색화면</h2>
        <label for="search_option">검색하기</label>

        <div class="search_module module">
          <select id="search_option" name="search_option">
            <option value="search">상호명</option>
            <option value="location">지역</option>
          </select>
          <input type="text" id="search_input" oninput="fetchList()" />
        </div>

        <div>
          <div id="category_list">
            <div class="row">
              <div class="recommend_module module">
                어떤 것을 찾으세요?
                <div class="row" id="recommend_list">
                  <!-- 마카롱,딸기 -->
                </div>
              </div>
              <div class="hashtag_module module">
                추천 해시태그
                <div class="col" id="hashtag_list"></div>
              </div>
              <div class="soaring_module module">
                <!-- <ul>
                                    <li style="cursor: pointer;"></li>
                                </ul> -->
              </div>
            </div>
          </div>

          <div id="searched_list" class="col">
            <th:block th:if="${list}"> th:block list exist </th:block>
          </div>
        </div>
        <button type="hidden" id="reservationDateTableUp_btn">예약 버튼</button>
        <div id="reservationDateTable">
          새로운 div
          <button id="cancelReserving">닫기</button>
        </div>

        <!-- 모달 바디 삽입 -->
        <!-- 모달 트리거 버튼 -->
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          모달 열기
        </button>

        <!-- 타겟 -->
        <div id="targetdiv">타겟</div>

        <script>
          // 타겟 요소를 가져옵니다.
          const target = document.getElementById('targetdiv');

          // 타겟 요소를 클릭했을 때 모달을 열기 위한 이벤트 리스너를 추가합니다.
          target.addEventListener('click', function () {
            // 모달 버튼을 클릭하는 것처럼 모달을 엽니다.
            var modal = new bootstrap.Modal(
              document.getElementById('exampleModal')
            );
            modal.show();
          });
        </script>

        <!-- Modal -->
        <!-- Modal 숙련도가 올라가면 id값을 적절하게 변경필요 -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <!-- 모달 크기 조정이 필요 컴퓨터 화면으로 볼때는 너무크며 모바일 일때는 괜찮을 듯함 -->
          <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h1
                  class="modal-title fs-5"
                  id="exampleModalLabel"
                  style="text-align: center"
                >
                  <!-- 모달 타이틀(중앙 정렬 필요) -->
                  예약 시간 정하기
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body" id="modal-body">
                <!-- 오늘버튼 + 년,월 필요 -->

                <!-- 테이블 -->

                <!-- 예약 인원 수 -->

                <!-- 예약 가능한 시간 -->
                <!-- 예약 가능한 시간이 눌렸을 때 다음화면이 필요 -->

                <!-- 닫기 버튼 -->

                모달 바디
                <hr />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--=============== MAIN JS ===============-->
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/search.js"></script>
    <script>
      setup();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
