<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">

    <title>마이페이지</title>
</head>
<body>
<!--=============== HEADER ===============-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">달곰디저트</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/home" class="nav__link active-link">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">홈</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/search" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">검색</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/reservation" class="nav__link">
                        <i class='bx bx-book-alt nav__icon'></i>
                        <span class="nav__name">예약</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="/mypage" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">마이페이지</span>
                    </a>
                </li>

            </ul>
        </div>

        <img src="/img/perfil.png" alt="" class="nav__img">
    </nav>
</header>


<div class="wrap">
    <div class="greenContainer">
        <div class="profileBox">
            <div class="box" style="background: #BDBDBD;">
                <img class="profile" src="/img/cake-1.jpg">
            </div>
            <div class="userInfo">
                <div class="grade">가맹점회원</div>
                <div class="name">***님</div>
                <a href="#" class="change">프로필 변경</a>
            </div>
        </div>
    </div>

    <div class="summaryContainer">
        <a href="/mypage" class="store"> >일반회원 페이지 바로가기< </a>
    </div>

    <div class="shippingStatusContainer">
        <div class="title">
            예약/리뷰
        </div>
        <div class="status">

            <div class="item">
                <div>
                    <div class="green number">12</div>
                    <div class="text">예약내역</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <div class="green number">5</div>
                    <div class="text">내 리뷰</div>
                </div>
            </div>

        </div>

    </div>
    <div class="listContainer">
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">회원정보수정<span class="circle"></span></div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">매장관리</div>
            <div class="right"> > </div>
        </a>


    </div>
    <div class="listContainer">

        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">알림</div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">설정</div>
            <div class="right"> > </div>
        </a>
    </div>
    <div class="infoContainer">
        <a href="#" class="item">
            <div>공지사항</div>
        </a>
        <a href="#" class="item">
            <div>이용안내</div>
        </a>
        <a href="#" class="item">
            <div>고객센터</div>
        </a>
    </div>
</div>


<!--=============== MAIN JS ===============-->
<script src="/js/main.js"></script>
</body>
</html>