
tempborderlines,.search_module,.store_div,.images_div,.store_name_div,.store_path_div{
    /* border: 1px solid black; */
}

.search_module{

}

.store_div{

}

.images_div{

}

.store_name_div{

}

.store_path_div{

}

.item_img{    
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.module{
    margin: 2vh 0 2vh 0;
}

#hashtag_list>*{
    margin: 0 1vw 0 1vw;
}