body{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}

.circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #ff0000;
  position: absolute;
  top: -5px;
  left: 110%;
}


.green{
  color: #24855b;
}

.wrap{
  background-color: #F8F8F8;
}

.greenContainer {
  height: 300px;
  background-color: #E69F49;
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

.greenContainer .name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.greenContainer .modify {
  margin-left: auto;
}

.greenContainer .box {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.userInfo {
  margin-left: 16px;
  margin-top: 20px;
}

.change {
  display: inline-block;
  background-color: #BDBDBD;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}






.summaryContainer{
  background-color: white;
  display: flex;
  padding: 21px 16px;
  height: 90px;
  margin-bottom: 10px;
}
/* 예약내역, 내 리뷰 */
.summaryContainer .store{
    font-size: 15px;
    font-weight: bold;
    color: #E69F49;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.shippingStatusContainer{
  padding: 21px 16px;
  background-color: white;
  margin-bottom: 10px;
}

.shippingStatusContainer .title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}


.shippingStatusContainer .status{
  display: flex;
 justify-content: space-between;
  margin-bottom: 21px;
}

.shippingStatusContainer .item{
  display: flex;
  margin-right: auto;
}

.shippingStatusContainer .number{
  font-size: 31px;
  font-weight: 200;
  color: #E69F49;
  text-align: center;
}
.shippingStatusContainer .text{
  font-size: 12px;
  font-weight: normal;
  color: #c2c2c2;
  text-align: center;
}
.shippingStatusContainer .icon{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 16px;
  height: 16px;
}

.listContainer{
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.listContainer .item{
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  text-decoration: none;
  height: 56px;
  box-sizing: border-box;
}
.listContainer .icon{
  margin-right: 14px;
}
.listContainer .text{
  font-size: 16px;
  position: relative;
}
.listContainer .right{
  margin-left: auto;
}


.listContainer .smallLight{
  font-size: 14px;
  color: #c2c2c2;
}
.listContainer .smallLight > span{
  margin-left: 10px;
}

.listContainer .right .blct{
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}



/* 공지사항 이용안내 고객센터 */
.infoContainer{
  background-color: white;
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.infoContainer .item{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.infoContainer .item > div:first-child{
  margin-bottom: 2px;
}



/*  */
.listContainer .item:hover{
/*   background-color: #f8f8f8; */
}
.infoContainer .item:hover{
/*   background-color: #f8f8f8; */
}